# Python
__pycache__/
*.py[cod]
*.pyo

# C/C++
*.o
*.so
*.exe

# Build directories
build/
dist/
cmake-build-debug/

# Virtual environments
venv/
.venv/

# Ignore all files in the mnist directory, but do not ignore the directory itself
**/mnist/*
!**/mnist/